* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.club_page {
    /* width: 100%;
    height: auto; */
}

.carousel_club {
    background: transparent;
}

.carousel-cell {
    width: 33%;
    height: auto;
    margin-right: 10px;
    border-radius: 15px;
}

.club_layer {
    background: #000;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 15px;
}

.club_layer:hover {
    opacity: 0;
    transition: 0.3s linear;
}

.clb_name {
    display: block;
    text-decoration: none !important;
}

.clb_name>h5 {
    text-align: center;
    font-size: 25px;
    color: #E1306C;
}

.clb_name>h5:hover {
    color: #AE4CA4;
    transition: 0.3s linear;
}

.club_img {
    width: 370px;
    height: 200px;
    margin: 10px auto;
}

.club_img>img {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    object-fit: cover;
}


/* club_content */

.club_form {
    width: 100%;
    height: auto;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    border-radius: 15px;
}

.club_form_title {
    margin: 10px;
}

.club_form_title>h5 {
    color: #E1306C;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

.club_form_content {
    width: 100%;
    height: 100%;
}

.club_form_style {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0 !important;
    background: transparent;
}

.club_form_style:focus {
    box-shadow: none !important;
    border-bottom: 2px solid #E1306C !important;
}

.select_club:focus {
    box-shadow: 0 0 10px 1px #aeb1bb !important;
    border: 1px solid #E1306C !important;
}

.btn_club {
    border: 1px solid #000;
    padding: 5px 15px;
    font-size: 17px;
    color: #E1306C;
    text-decoration: none;
    background-color: #F8F8F8;
    outline: none;
    font-weight: 500;
}

.btn_club:hover {
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: all 0.3s linear;
}

.btn_club:focus {
    outline: none;
}

.club_statistic {
    width: 100%;
    height: 500px;
    border: 1px solid tomato;
}

.club_statistic_title {
    margin: 10px;
}

.club_statistic_title>h5 {
    color: #E1306C;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

.detail_club_content_info {
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #f1f1f1 !important;
}


/* Detail club */

.detail_club_page {
    width: 100%;
    height: auto;
}

#pills-info-tab,
#pills-list-tab,
#pills-manage-tab,
#pills-schedule-tab,
#pills-statistic-tab {
    font-size: 20px;
    text-transform: capitalize;
    color: #E1306C;
}

#pills-info-tab:hover,
#pills-list-tab:hover,
#pills-manage-tab:hover,
#pills-schedule-tab:hover,
#pills-statistic-tab:hover {
    color: #E1306C;
    background: #f7f7f7 !important;
}

#pills-info-tab:focus,
#pills-list-tab:focus,
#pills-manage-tab:focus,
#pills-schedule-tab:focus,
#pills-statistic-tab:hover {
    background: transparent;
    transition: 0.3s linear;
    background: #f7f7f7 !important;
    border-bottom: 3px solid #E1306C;
}

.active {
    background: #f7f7f7 !important;
}


/* .detail_club_content {
    height: auto;
} */

.club_info_title {
    color: #E1306C;
    margin: 10px 0;
    text-transform: capitalize;
}

.club_info_title>h5 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

.club_info_img {
    text-align: center;
}

.detail_club_member_title,
.detail_club_activity_title {
    padding-top: 25px;
    padding-left: 30px;
}

.detail_club_member_title>h5,
.detail_club_activity_title>h5 {
    color: #E1306C;
    text-transform: capitalize;
    font-size: 25px !important;
}

.club_activity_right_bottom_status {
    width: 100%;
    height: 100%;
}

.detail_club_member_img {
    width: 750px;
    height: 500px;
    margin: 0 auto;
}

.detail_club_member_img>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
}


/* Club Activity */

.detail_club_activity {
    padding: 20px;
    width: 100%;
}


/* club_activity_left */

.btnClubActivity {
    padding: 7px 20px;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #E1306C;
    background: #E1306C;
    color: #fff;
}

.btnClubActivity:hover {
    box-shadow: 0 0 15px 1px #b6bbcb;
}

.btnClubActivity:focus {
    outline: none;
}

#staticBackdropLabel {
    color: #E1306C;
    text-transform: capitalize;
}

.club_activity_right {
    border: 1px solid #E1306C;
    border-radius: 15px;
}

.club_activity_right_top_info {
    padding: 10px 0;
}

.club_activity_right_name {
    font-style: italic;
}

.club_activity_right_top_option {
    margin-left: 672px;
}

.btnClubActivityOption {
    background: transparent;
    font-weight: bold;
    padding: 10px;
    border: 0;
}

.btnClubActivityOption:focus {
    outline: 0;
}


/*club_activity_right_bottom*/

.club_activity_right_bottom_img {
    width: 100%;
    height: 100%;
}

.club_activity_right_bottom_img>img {
    width: 100%;
    height: 100%;
}

.club_activity_right_bottom_comment {
    width: 100%;
}

.club_activity_right_bottom_comment>ul {
    list-style: none;
}

.club_activity_right_bottom_comment>ul>li {
    margin-right: 50px;
}

.club_activity_right_bottom_comment>ul>li>a {
    text-decoration: none;
    color: #E1306C;
}

.club_activity_right_bottom_comment>ul>li>a:hover {
    text-decoration: none;
    display: block;
    color: #AE4CA4;
}

.btnClubComment {
    margin-top: 10px;
    padding: 5px;
    background: #E1306C;
    color: #fff;
    border: 0;
}

.btnClubComment:focus {
    outline: 0;
}

#formClubComment:focus {
    box-shadow: none;
}

.club_comment_name {
    font-style: italic;
}

.club_comment_content {
    max-width: 250px;
    border: 1px solid transparent;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
}