* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.Home {
    width: 100%;
    height: 215px;
    background-color: #f1f1f1;
    position: relative;
}

.Home-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.breadcrumbs {
    width: 80%;
    margin: auto;
}

.breadcrumbs>ul {
    display: flex;
    list-style: none;
}

.breadcrumbs>ul>li {
    text-transform: uppercase;
}

.breadcrumbs>ul>li:hover a {
    text-transform: uppercase;
    color: #AE4CA4;
}

.breadcrumbs>ul>li>a {
    text-decoration: none;
    font-size: 17px;
    color: #E1306C;
}

.breadcrumbs>ul>li>p {
    color: #bb8cb6;
}


/* Music */

.background-course {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.music-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.music-title>h2 {
    text-transform: uppercase;
    color: #E1306C;
    font-size: 30px;
    text-align: center;
}

.card-title {
    color: #E1306C;
    font-size: 25px !important;
}

.card-title:hover {
    color: #AE4CA4;
}

.card-body .title-cou {
    text-decoration: none;
}

.course_box {
    border-radius: 20px !important;
    overflow: hidden;
}

.music-info {
    margin-top: 10px;
    margin-bottom: 20px;
}

.music-info>ul {
    list-style: none;
    display: flex;
}

.music-info>ul>li>a {
    text-decoration: none;
    color: #AE4CA4;
    font-size: 17px;
}

.music-info>ul>li>a:hover {
    color: #E1306C;
    transition: all 0.3s linear;
}

.music-footer {
    width: 100%;
}

.music-footer>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.music-footer>ul>li {
    line-height: 40px;
}

.music-footer .course_btn {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 35px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #E1306C;
    text-decoration: none;
    background-color: #F8F8F8;
    outline: none;
}

.course_btn:hover {
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: all 0.3s linear;
}


/* Load More */

.load-more {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more .loadd {
    display: inline-block;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    padding: 7px 45px;
    border-radius: 10px;
    font-size: 18px;
    color: #E1306C;
    background-color: #fff;
    transition: all 0.3s linear;
    text-transform: capitalize;
}

.load-more .loadd:hover {
    color: #fff;
    background-color: #E1306C;
}