* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}


/* Intro */

.Intro {
    width: 100%;
    height: auto;
}


/* background - intro */

.background-intro {
    width: 100%;
    height: 600px;
}

.background-intro img {
    width: 100%;
    height: 600px;
}


/* intro content */

.intro-content {
    position: absolute;
    bottom: -35px;
    width: 450px;
    height: 220px;
    margin-left: 150px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid #000000;
}

.rating {
    display: inline-block;
    border: 1px solid #FEE140;
    margin: 20px 30px;
    padding: 5px 30px;
    color: #AE4CA4;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    border-radius: 7px;
}

.title-intro {
    margin: 12px 30px;
    font-size: 25px;
}

.title-intro h2 {
    color: #FF5ACD;
}

.information {
    margin: 25px 30px;
    font-size: 20px;
}

.information p {
    color: #AE4CA4;
}

.information .instructor {
    text-decoration: none;
    color: #E1306C;
}

.img-intro {
    position: absolute;
    top: 40px;
    right: 30px;
}

.img-intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.course-details {
    width: 100%;
    height: 700px;
}

.course-top-details {
    width: 100%;
    height: 70px;
    background-color: #f1f1f1;
}

.course-details-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 27px;
    display: flex;
}

.left-details {
    width: 70%;
    height: auto;
}

.tab-details {
    width: 100%;
}

.tab-details ul {
    display: flex;
    list-style: none;
    border-radius: 5px;
}

.tab-details ul li {
    width: 300px;
    padding: 7px;
    text-align: center;
    color: #E1306C;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2;
    position: relative;
}

.tab-details ul li:last-child {
    border-right: 0px;
}

.tab-details ul li::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FEE140;
    transition: all 0.2s;
    opacity: 0;
}

.tab-details ul li:hover,
.tab-details ul li.active {
    background-color: #e8f5f1;
}

.tab-details ul li:hover:before,
.tab-details ul li.active:before {
    opacity: 1;
}

.tab-content-details {
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
}

.tap-warp .tab-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.tap-warp p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
}

.right-details {
    width: 30%;
    height: auto;
    border: 1px solid #E1306C;
}

.right-details .right-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    height: 41px;
}