* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.Event_page {
    width: 100%;
    height: auto;
}

.btn_viewer {
    padding: 3px;
    border: none;
    background: transparent;
}

.btn_viewer:hover {
    padding: 3px;
    border-radius: 50%;
    border: none;
    background: #EBEBEB;
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: 0.3s linear;
}

.btn_viewer:focus {
    outline: 0;
}

.btn_viewer>span>i {
    margin-right: 7px;
    color: #E1306C;
}

.eve_date {
    font-style: italic;
    color: #929090;
}


/* Event - Detail */

.evetDetail {
    width: 100%;
    height: auto;
}

.event_left {}

.eve_detail_content-top {
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 0 20px;
    background: rgb(253, 248, 248);
}

.eve_detail_title {
    color: #E1306C;
    text-transform: capitalize;
    margin-top: 10px;
}

.eve_detail_text>ul {
    list-style: none;
}

.eve_detail_text>ul>li {
    margin: 20px 0;
}

.eve_detail_text>ul>li>span {
    font-size: 18px;
    font-style: italic;
    color: #AE4CA4;
    font-weight: 500;
}

.eve_text {
    margin-top: 10px;
}

.eve_detail_text>ul>li>p {
    font-size: 17px;
}

.eve_detail_content_bottom {
    width: 100%;
    border: 1px solid #EBEBEB;
    background: rgb(253, 248, 248);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
}

.event_right {
    /* border: 1px solid burlywood; */
}

.gg_content {
    width: 100%;
    padding: 0 20px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background: rgb(253, 248, 248);
}

.gg_title {
    color: #E1306C;
    text-transform: capitalize;
    margin: 10px 0;
}

.gg_map {
    margin-bottom: 20px;
}

.event_detail_image {
    width: 100%;
    padding: 0 20px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background: rgb(253, 248, 248);
}

.gg_img>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-bottom: 15px;
}