* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    overflow-x: hidden;
}

.Hutech {
    max-width: 100%;
    height: 100%;
}


/* Header*/

.header-home {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    transition: all 200ms ease;
}

.sticky {
    top: -73px;
}

.topbar_container {
    max-width: 100%;
}

.topbar {
    width: 80%;
    height: 35px;
    margin: auto;
    padding: 6px 0px;
    display: flex;
    position: relative;
    position: sticky;
}

.phone {
    width: 30px;
    margin-right: 590px;
}

.social {
    width: 50px;
    margin-left: 515px;
    display: flex;
}

.social .icons {
    list-style: none;
    display: flex;
    position: absolute;
    top: 43%;
    right: -31px;
}

.fb {
    color: #3b5998;
}

.ins {
    color: #C13584;
}

.icons>li {
    margin: 0 10px;
}

.lane {
    margin: 25px 100px;
    border: 1px solid #ce9fba;
}


/* head-container */

.headcontainer {
    width: 80%;
    height: 75px;
    margin: auto;
    display: flex;
    padding-top: 0px;
}

.brand-name {
    text-decoration: none;
    color: #AE4CA4;
}

.brand-name:hover {
    text-decoration: none;
    color: #E1306C;
    transition: all 0.2s linear;
}

.list-bar {
    margin: 5px auto;
}

.list-tile {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list-tile>li {
    margin-left: 20px;
    padding-top: 7px;
}

.list-tile>li a {
    text-decoration: none;
    font-weight: 650;
    color: #AE4CA4;
    text-transform: uppercase;
}

.list-tile>li a:hover {
    color: #E1306C;
    transition: all 0.2s linear;
}


/* search */

.search-box {
    width: 38px;
    height: 38px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: 5px;
}

.active {
    width: 170px;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 50px;
    padding: 0 7px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #E1306C;
    font-size: 15px;
}

input.active-width {
    opacity: 1;
}

.search-btn {
    width: 38px;
    height: 37px;
    background: #fff;
    color: #E1306C;
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-btn:hover {
    background: #E1306C;
    color: #fff;
}

.search-btn.back {
    width: 38px;
    height: 38px;
    background: #E1306C;
    color: #fff;
    line-height: 50px;
}

.search-box .search-btn>i {
    position: absolute;
    top: 10px;
    left: 12px;
}


/* user */

.account {
    margin-right: -20px;
    position: relative;
    margin-left: 27px;
    margin-top: 5px;
}

.background {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: all 0.3s linear;
}

.user {
    position: absolute;
    top: 5px;
    left: 13px;
    color: #E1306C;
}

.account:hover .background {
    background-color: #E1306C;
}

.account:hover .user>i {
    color: #fff;
}


/* user-info */

.user-info {
    display: flex;
    margin-top: 7px;
}

.user-info>p {
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.user-info .logoutt {
    display: block;
    text-decoration: none;
    border: 1px solid #FEE140;
    background-color: #FEE140;
    padding: 0 8px;
    border-radius: 20px;
    color: #E1306C;
    text-transform: capitalize;
    font-weight: 600;
}

.user-info .logoutt:hover {
    box-shadow: 0 0 15px 1px #f7d306;
}

.head-tilte img {
    vertical-align: middle;
    max-height: 50px;
    max-width: 200px;
}


/* Home */

.home {
    max-width: 100%;
    height: 560px;
    border: 1px solid transparent;
    background-image: url("../img/pexels-photo-1490844.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-content {
    text-align: center;
    margin-top: 260px;
}

.home-title {
    margin-bottom: 30px;
    color: #AE4CA4;
    font-size: 30px;
    text-transform: uppercase;
}

.home-title>h2 {
    margin-left: 25px;
}

.home-btn .bt {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FAACA8;
    padding: 10px 50px;
    border-radius: 5px;
    letter-spacing: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #AE4CA4;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.home-btn>a:hover {
    box-shadow: 0 0 10px 1px #aeb1bb;
}


/* Course - HomePage*/

.course {
    width: 80%;
    height: auto;
    margin: 30px auto;
}

.course-online {
    width: 100%;
}

.course-intro>h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #AE4CA4;
    text-transform: uppercase;
}

.course-body {
    width: 370px;
    height: 435px;
    border: 1px solid #EBEBEB;
    margin-top: 60px;
    margin-right: 50px;
    border-radius: 23px;
    overflow: hidden;
}

.course-position {
    padding: 20px;
    margin-bottom: 15px;
}

.course-body img {
    width: 370px;
}

.course-flex {
    display: flex;
}

.course-title {
    margin-top: 5px;
}

.course-title>h2>a {
    color: #E1306C;
    text-decoration: none;
}

.course-title>h2>a:hover {
    color: #AE4CA4;
    transition: all 0.3s li;
}

.course-info {
    margin-top: 10px;
    margin-bottom: 20px;
}

.course-info>ul {
    list-style: none;
    display: flex;
}

.icon-lane {
    margin: 0 10px;
    color: #AE4CA4;
}

.course-info>ul>li>a {
    text-decoration: none;
    color: #AE4CA4;
    font-size: 17px;
}

.course-info>ul>li>a:hover {
    color: #E1306C;
    transition: all 0.3s linear;
}

.course-text {
    width: 275px;
}

.course-text>span {
    font-size: 17px;
    line-height: 1.5rem;
}

.course-footer {
    width: 100%;
    height: 45px;
    border-top: 1px solid #EBEBEB;
    display: flex;
}

.padding-course {
    padding-top: 10px;
    display: flex;
    margin: 0 auto;
}

.price {
    margin: 0px 80px;
}

.price .p_btn {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #FEE140;
    padding: 0px 25px;
    font-weight: bold;
    border-radius: 30px;
    color: #AE4CA4;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

.price .p_btn:hover {
    box-shadow: 0 0 10px 1px #aeb1bb;
    transition: all 0.2s linear;
}


/* Event */

.event-background {
    padding-top: 60px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.event {
    width: 80%;
    height: 500px;
    margin: 30px auto;
}

.event-title {
    margin-top: 30px;
    margin-bottom: 70px;
}

.event-title>h2 {
    text-align: center;
    font-size: 30px;
    color: #E1306C;
    text-transform: uppercase;
}

.event-image {
    position: relative;
}

.event-flex {
    display: flex;
}

.event-body {
    width: 370px;
    height: 270px;
    border: 1px solid #d3c3c3;
    margin-right: 50px;
    border-radius: 23px;
    overflow: hidden;
}

.event-body img {
    width: 370px;
}

.event-padding {
    padding: 20px;
    display: flex;
}

.event-info>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #E1306C;
}

.event-info>a:hover {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #dd3695;
}

.event-btn {
    margin-left: 80px;
}

.event-btn .join {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 35px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #E1306C;
    text-decoration: none;
    background-color: #F8F8F8;
    outline: none;
}

.event-btn .join:hover {
    box-shadow: 0 0 15px 1px #b6bbcb;
    transition: all 0.3s linear;
}


/* Blog */

.blog {
    width: 80%;
    height: 550px;
    margin: auto;
    margin-bottom: 30px;
}

.blog-body {
    width: 100%;
    display: inline-flex;
    margin-top: 100px;
}


/* blog-left */

.blog-left {
    width: 50%;
    height: 350px;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    margin-right: 30px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-title>h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #E1306C;
}

.blog-text {
    padding: 10px;
}

.blog-text>span {
    font-size: 17px;
    line-height: 25px;
}

.blog-flex {
    display: inline-flex;
    padding: 7px;
}

.blog-category {
    width: 170px;
    height: 99px;
    border: 1px solid #FBAB7E;
    position: relative;
    margin-top: 30px;
    margin-right: 38px;
    border-radius: 30px;
    overflow: hidden;
}

.layer-blog {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    width: 170px;
    height: 99px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    cursor: pointer;
}

.layer-blog:hover {
    opacity: 0;
    transition: all 0.3s linear;
}

.blog-list-img {
    width: 170px;
    height: 99px;
}

.blog-list-img>img {
    width: 170px;
    height: 99px;
}

.blog-category .blog-category-title>h3 {
    position: absolute;
    top: 37px;
    left: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.blog-category .blog-category-title1>h3 {
    position: absolute;
    top: 37px;
    left: 57px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


/* blog-right */

.blog-right {
    width: 50%;
    height: 350px;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.blog-image {
    width: 100%;
    height: 100%;
    background-image: url("../img/119469758_2462420790718075_3741060378152167569_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog-container {
    width: 250px;
    height: 302px;
}

.blog-title-container {
    width: 480px;
    border: 1px solid transparent;
    height: 100%;
    position: absolute;
    top: calc(100% - 165px);
    left: 0;
    background-color: transparent;
    padding-left: 40px;
}

.blog-right:hover .blog-title-container {
    top: 0;
    transition: all 0.3s linear;
}

.blog-righit-text {
    margin-top: 30px;
}

.blog-righit-text>a {
    text-decoration: none;
    color: #E1306C;
    font-size: 20px;
}

.blog-righit-text>a:hover {
    color: #AE4CA4;
}

.blog-right-title {
    margin-top: 30px;
}

.blog-right-title>a {
    text-decoration: none;
    color: #E1306C;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.blog-right-title>a:hover {
    color: #AE4CA4;
}

.blog-right-content {
    margin-top: 30px;
    width: 410px;
}

.blog-right-content>p {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
}

.blog-right-details {
    margin-top: 30px;
}

.blog-right-details>a {
    text-decoration: none;
    font-size: 19px;
    color: #E1306C;
}

.blog-right-details>a:hover i {
    transform: translateX(5px);
}

.blog-right-details>a>i {
    margin-left: 10px;
}


/* Footer */

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    border: 1px solid #EBEBEB;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

footer>p {
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    color: #AE4CA4;
}

footer>p>a {
    text-decoration: none;
    color: #E1306C;
    font-weight: bold;
}