* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.profile_user {
    width: 100%;
}

.user_form {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}

.user_title {
    padding: 10px 20px;
}

.user_title>h4 {
    color: #E1306C;
    font-size: 25px;
    text-transform: capitalize;
}

.user_title>h4>i {
    margin-right: 10px;
}

.update_image {
    width: 230px;
    height: 230px;
    margin: 0 auto;
}

.update_image>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 50%;
}

#user_info_form {
    padding: 20px 70px 50px 70px;
}

#nameUser,
#datelUser,
#numberUser {
    border-bottom: 3px solid #dddada;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #f7f7f7;
    border-radius: 0;
}

#nameUser:hover {
    border-bottom: 3px solid #E1306C;
    background-color: #f7f7f7;
}

#nameUser:focus {
    border-bottom: 3px solid #E1306C;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
}

#datelUser:hover {
    border-bottom: 3px solid #E1306C;
    background-color: #f7f7f7;
}

#datelUser:focus {
    border-bottom: 3px solid #E1306C;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
}

#numberUser:hover {
    border-bottom: 3px solid #E1306C;
    background-color: #f7f7f7;
}

#numberUser:focus {
    border-bottom: 3px solid #E1306C;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
}

.title_name {
    font-size: 18px;
    text-transform: capitalize;
    color: #E1306C;
}

#ger {
    font-size: 18px;
    text-transform: capitalize;
    color: #E1306C;
}

.form-group-check {
    margin-bottom: 15px;
}

.btn_profile {
    padding: 3px 20px;
    border: 1px solid #dddada;
    color: #E1306C;
    font-weight: 500;
    border-radius: 7px;
    text-transform: capitalize;
    margin-top: 7px;
}

.btn_profile:hover {
    color: #000;
    box-shadow: 0 0 10px 1px #aeb1bb;
    transition: all 0.2s linear;
}

.btn_profile:focus {
    outline: 0;
}

.viewprofile {
    padding: 7px;
    margin-left: 68%;
}

#link_profile {
    color: #E1306C;
    font-size: 20px;
}

#link_profile>i {
    margin-left: 7px;
}

#link_profile:hover {
    text-decoration: none;
}

#link_profile:hover>i {
    transform: translateX(5px);
}